[defaults]
inventory = /home/ubuntu/Ansible-assignment/assignment5/inventory
remote_user = ubuntu
host_key_checking = False
private_key_file = /home/ubuntu/Ansible-assignment/assignment5/recovery-key.pem
